.banner {
  width: 100%;
  margin-bottom: 80px;
}

.text {
  h1 {
    padding-bottom: 24px;

    font-size: 3rem;
    color: var(--heading);
  }

  div {
    padding-bottom: 64px;
    gap: 1.5rem;
    color: var(--info);
    display: flex;

    span {
      gap: 8px;
      font-size: 14px;

      display: flex;
      align-items: center;
    }
  }

  h2 {
    margin-bottom: 36px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: var(--heading);
  }

  p {
    margin-bottom: 36px;
    line-height: 25.2px;
    color: var(--body);
  }

}